<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col" colspan="3">Descripcion</th>
      <th scope="col">Director</th>
      <th scope="col">Productor</th>
      <th scope="col">Fecha</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
        <th scope="row">{{movie.id}}</th>
        <td>{{movie.titulo}}</td>
        <td colspan="3">{{movie.sinopsis}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.producer}}</td>
        <td>{{movie.fecha}}</td>
        <td><a [routerLink]="['/movies',movie.id]" class="btn btn-success">Ver naves</a></td>
    </tr>
  </tbody>
</table>